*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
table{
    width: 100%;
     border-collapse: collapse;

}
table ,tr ,td ,th {
    border: 1px solid black;
}
.PAYMENT-IMAGE{
    width: 100px;
    height: 100px;
}
.PAYMENT-IMAGE img{
    width: 100px ;
    height: 100px; 
}
td{
    padding: 15px;
    text-align: center;
}